extends ../../layouts/default.pug

include ../../mixins/box-alert.pug
include ../../mixins/box-head.pug

block main
  +box-alert-success(messages)
  +box-alert-error(messages)

  +box-head(pageTitle)

  .container
    .d-flex.justify-content-end.mb-3.px-3
      a(
        href=`${prefixAdmin}/cars/create`
        class="btn btn-success fw-bold"
      ) Add

    table.table.table-hover
      thead
        tr
          th(scope="col") #
          th(scope="col") Name
          th(scope="col") Engine
          th(scope="col") Segment
          th(scope="col") Version
          th(scope="col") Company
          th(scope="col") Base price
          th(scope="col") Actions

      tbody
        each item, index in cars
          tr
            th(scope="row") #{index + 1}
            td #{item.NAME}
            td #{item.carEngine.NAME}
            td #{item.carSegment.NAME}
            td #{item.carVersion.NAME}
            td #{item.carCompany.NAME}
            td #{item.basePrice}
            td
              button(
                class="btn btn-primary fw-bold"
              ) Detail