.sider
  ul.box-menu
    li
      a(href=`${prefixAdmin}/dashboard/get`) Dashboard
    li
      a(href=`${prefixAdmin}/cars/get`) Cars
    li
      a(href=`${prefixAdmin}/companies/get`) Compnies
    li
      a(href=`${prefixAdmin}/engines/get`) Engines
    li
      a(href=`${prefixAdmin}/segments/get`) Segments
    li
      a(href=`${prefixAdmin}/versions/get`) Versions